* {
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

ul {
    padding: 24px;
    background-color: antiquewhite;
}

li {
    padding: 8px;
    margin: 16px;
    background-color: bisque;
}