@keyframes loop {
    25% {
        transform: translateX(-0%);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}

.carousel {
    animation: loop 10s infinite linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
    will-change: transform;
}

.carousel:hover {
    animation-play-state: paused;
}