* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}

.fixedTHead {
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #ddd;
}

.fixedTHead .td {
    font-weight: bold;
}

.fixedLeft {
    position: sticky;
    left: 0;
}

.table-group {
    width: 800px;
    height: 100vh;
    overflow: auto;
}

.table {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.tr {
    display: flex;
}

.td,
.th {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 1;
}

.flex3 {
    flex: 2;
}

.flex4 {
    flex: 5;
}

.flex5 {
    flex: 2;
}