* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    pointer-events: none;
}