* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #ccc;
    padding: 20px;
}

#cvs {
    background-color: #fff;
}

.buttons {
    width: 800px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    padding: 0 20px;
    overflow: hidden;
}