* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --animation-duration: 1000ms;
}

.container {
    display: flex;
    gap: 1px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.box {
    width: 200px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.box::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: translateY(-50%);
    z-index: 99;
}

.item {
    width: 100%;
    height: 50%;
    font-size: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    transition: 0.5s linear;
    background-color: antiquewhite;
}

.item1 {
    line-height: 100px;
}

.item2 {
    top: 50%;
    line-height: 0;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transform-origin: center top;
    z-index: 2;
}

.item3 {
    line-height: 100px;
    transform-origin: center bottom;
    backface-visibility: hidden;
    z-index: 2;
}

.item4 {
    top: 50%;
    line-height: 0;
}

/* .box:hover .item2 {
    transform: rotateX(0);
}

.box:hover .item3 {
    transform: rotateX(-180deg);
} */

.hours .item2 {
    animation: hour-animation-item2 var(--animation-duration) var(--animation-iteration-count) linear;
    animation-play-state: var(--animation-play-state-hour);
}

.hours .item3 {
    animation: hour-animation-item3 var(--animation-duration) var(--animation-iteration-count) linear;
    animation-play-state: var(--animation-play-state-hour);
}

.minutes .item2 {
    animation: minute-animation-item2 var(--animation-duration) var(--animation-iteration-count) linear;
    animation-play-state: var(--animation-play-state-minute);
}

.minutes .item3 {
    animation: minute-animation-item3 var(--animation-duration) var(--animation-iteration-count) linear;
    animation-play-state: var(--animation-play-state-minute);
}

.seconds .item2 {
    animation: second-animation-item2 var(--animation-duration) var(--animation-iteration-count) linear;
    animation-play-state: var(--animation-play-state-second);
}

.seconds .item3 {
    animation: second-animation-item3 var(--animation-duration) var(--animation-iteration-count) linear;
    animation-play-state: var(--animation-play-state-second);
}

@keyframes hour-animation-item2 {
    to {
        transform: rotateX(0);
    }
}

@keyframes hour-animation-item3 {
    to {
        transform: rotateX(-180deg);
    }
}

@keyframes minute-animation-item2 {
    to {
        transform: rotateX(0);
    }
}

@keyframes minute-animation-item3 {
    to {
        transform: rotateX(-180deg);
    }
}

@keyframes second-animation-item2 {
    to {
        transform: rotateX(0);
    }
}

@keyframes second-animation-item3 {
    to {
        transform: rotateX(-180deg);
    }
}