* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
    scroll-snap-align: start;
}

.slides img {
    width: 350px;
}

.slides h2 {
    font-size: 70px;
    font-weight: 600;
    max-width: 650px;
}

.slides1 {
    background: linear-gradient(454deg, #4f4080, #9553ff);
}

.slides2 {
    background: linear-gradient(454deg, #404c80, #53ff88);
}

.slides3 {
    background: linear-gradient(454deg, #9574ff, #ff5353);
}